.fs-50{font-size: $fs-50;}
.fs-36{font-size: $fs-36;}
.fs-35{font-size: $fs-35;}
.fs-34{font-size: $fs-34;}
.fs-33{font-size: $fs-33;}
.fs-32{font-size: $fs-32;}
.fs-31{font-size: $fs-31;}
.fs-30{font-size: $fs-30;}
.fs-29{font-size: $fs-29;}
.fs-28{font-size: $fs-28;}
.fs-27{font-size: $fs-27;}
.fs-26{font-size: $fs-26;}
.fs-25{font-size: $fs-25;}
.fs-24{font-size: $fs-24;}
.fs-23{font-size: $fs-23;}
.fs-22{font-size: $fs-22;}
.fs-21{font-size: $fs-21;}
.fs-20{font-size: $fs-20;}
.fs-19{font-size: $fs-19;}
.fs-18{font-size: $fs-18;}
.fs-17{font-size: $fs-17;}
.fs-16{font-size: $fs-16 !important;}
.fs-15{font-size: $fs-15;}
.fs-14{font-size: $fs-14;}
.fs-13{font-size: $fs-13;}
.fs-12{font-size: $fs-12;}
.fs-11{font-size: $fs-11;}
.fs-10{font-size: $fs-10 !important;}
.fs-9{font-size: $fs-9}
.fs-8{font-size: $fs-8}
.fs-7{font-size: $fs-7}


.fw-1{font-weight: 100;}
.fw-2{font-weight: 200;}
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600 !important;}
.fw-7{font-weight: 700;}
.fw-8{font-weight: 800;}
.fw-9{font-weight: 900;}
