// FORGROUND COLOR CLASSES
body{
    // BLACK TO WHITE SHADE
    .fg-white{color: $white !important;}
    .fg-FC{color: $colorFCF !important;}
    .fg-FABC{color: $colorFABC !important;}
    .fg-F2{color: $colorF2F !important;}
    .fg-CE{color: $colorCE !important;}
    .fg-EE{color: $colorEE !important;}
    .fg-D9{color: $colorD9 !important;}
    .fg-DD{color: $colorDDD !important;}
    .fg-BF{color: $colorBF !important;}
    .fg-BE{color: $colorBE !important;}
    .fg-99{color: $color999 !important;}
    .fg-88{color: $color888 !important;}
    .fg-66{color: $color666 !important;}
    .fg-4C{color: $color4C !important;}
    .fg-33{color: $color333 !important;}
    .fg-1D{color: $color1D !important;}
    .fg-15{color: $color15 !important;}
    .fg-black{color: $black !important;}
    // SOLAID COLORS
    .fg-green{color: $green !important;}
    .fg-purple{color: $purple !important;}
    .fg-yellow{color: $yellow !important;}
    .fg-blue{color: $blue !important;}
    .fg-orange{color: $orange !important;}
    .fg-red{color: $red !important;}
    // LIGHT COLORS
    .fg-light-green{color: $light-green !important;}
    .fg-light-blue{color: $light-blue !important;}
    .fg-light-purple{color: $light-purple !important;}
    .fg-light-yellow{color: $light-yellow !important;}
    .fg-light-red{color: $light-red !important;}
    .fg-light-orange{color: $light-orange !important;}
    // GARDIENT COLORS
}
